/* Style Guide: 
** http://techblog.steelseries.com/ux-guide/index.html 
*/

html, body {
  height: 100%;
  min-width: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: #4d4d4d;
  margin: 0;
  padding: 0;
  border: 0;
}

h2 {
  margin: 0px 10px 10px 20px;
  padding-top: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
a {
  color: #ffffff;
  text-decoration: none;
}

.block {
  height: 100px;
  display: block;
  color: white;
  background: linear-gradient(to bottom right, #404040, #2d2d2d);
  padding: 20px 0px 0px 20px;
}

/*.slider {
  border: 1px solid #f4c2c2;
}

@media screen and (max-width: 1920px) {
  section.slider {
    min-height: 30vh;
  }
}*/
/* CONTAINER CSS, General Banner Panel CSS
** BLESS: https://bennettfeely.com/clippy/
** ^-- makes clip-paths for you
*/

/* Give .parent-container width to constrain size of banner */
.parent-container {
  width: 90vw;
  height: 30vh;
  position: relative;
  margin: auto;
  margin-top: 50px;
  background: #000;
  overflow: hidden;
  border: 4px solid #ff5200;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #ff5200
}
.shape {
  transition: all 500ms ease-in-out;
}
.panel-content {
  display: none;
  position: relative;
  z-index: 10;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
}
.panel-blurb {
  position: absolute;
  z-index: 9;
  height: 100%;
}
.panel-blurb__link {
  text-decoration: underline;
  text-transform: uppercase;
}
.panel-close {
  position: absolute;
  z-index: 20;
  top: 0 !important;
  cursor: pointer;
  font-size: 2em;
  padding: 0 10px 10px 10px;
  margin-top: -10px;
}

/* Panels : Initial State */
.left-panel {
  position: absolute;
  z-index: 2;
  display: block;
  background-image: url(imgs/hk-stag2.jpg);
  background-repeat: no-repeat;
  background-color: #090915;
  background-position: -100px 0;
  width: 100%;
  height: 100%;
  color: #fff;
  shape-outside: polygon(0 0, 69.5% 0%, 29.5% 100%, 0% 100%);
  clip-path: polygon(0 0, 69.5% 0%, 29.5% 100%, 0% 100%);
  transition: all 0.5s ease-in-out;
}
.right-panel {
  position: absolute;
  z-index: 1;
  display: block;
  background-image: url(imgs/sv-road3.jpg);
  background-repeat: no-repeat;
  background-size: calc(120vh);
  background-color: rgba(240, 240, 240, 1);
  background-position: right;
  width: 100%;
  height: 100%;
  color: #000;
  text-align: right;
  shape-outside: polygon(70.5% 0%, 100% 0%, 100% 100%, 30.5% 100%);
  clip-path: polygon(70.5% 0%, 100% 0%, 100% 100%, 30.5% 100%);
  transition: all 0.5s ease-in-out;
}

/* Panels : Half-expanded State */
.left-panel__expand {
  position: absolute;
  z-index: 2;
  background-image: url(imgs/hk-stag.gif);
  shape-outside: polygon(0 0, 79.5% 0, 39.5% 100%, 0 100%);
  clip-path: polygon(0 0, 79.5% 0, 39.5% 100%, 0 100%);
  transition: all 0.5s ease-in-out;
}
.left-panel__expand2 {
  position: absolute;
  z-index: 2;
  transition-timing-function: ease-in-out;
  background-image: url(imgs/hk-stag.gif);
  clip-path: polygon(0 0, 79.5% 0, 39.5% 100%, 0 100%);
  animation-duration: 3s;
  animation-fill-mode: both;
}
.left-panel__collapse {
  position: absolute;
  z-index: 2;
  shape-outside: polygon(0 0, 59.5% 0, 19.5% 100%, 0 100%);
  clip-path: polygon(0 0, 59.5% 0, 19.5% 100%, 0 100%);
  transition: all 0.5s ease-in-out;
}
.right-panel__expand {
  position: absolute;
  z-index: 2;
  background-image: url(imgs/sv-road2.gif);
  background-position: right;
  background-size: calc(120vh);
  shape-outside: polygon(60.5% 0, 100% 0, 100% 100%, 20.5% 100%);
  clip-path: polygon(60.5% 0, 100% 0, 100% 100%, 20.5% 100%);
  transition: all 0.5s ease-in-out;
}
.right-panel__collapse {
  position: absolute;
  z-index: 2;
  shape-outside: polygon(80.5% 0, 100% 0, 100% 100%, 40.5% 100%);
  clip-path: polygon(80.5% 0, 100% 0, 100% 100%, 40.5% 100%);
  transition: all 0.5s ease-in-out;
}

/* Panels : Fully-expanded State */
.left-panel__full {
  background-image: url(imgs/hk-stag.gif);
  shape-outside: polygon(0 0, 139.5% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 139.5% 0, 100% 100%, 0 100%);
  transition: all 500ms ease-in-out;
}
.right-panel__full {
  background-image: url(imgs/sv-road2.gif);
  shape-outside: polygon(0 0, 100% 0, 100% 100%, -40.5% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, -40.5% 100%);
}
/* Panels : Fully-expanded State --Panel Content Style */
.left-panel > .panel-content {
  position: absolute;
  z-index: 10;
  right: 0;
}
.left-panel  .panel-blurb {
  position: absolute;
  z-index: 10;
  padding: 20px 10px 10px 10px;
  background-color: rgba(93, 93, 93, 0.3);
}
.left-panel .panel-close {
  right: 0;
  color: #fff;
}
.right-panel > .panel-content {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 25%;
}
.right-panel  .panel-blurb {
  position: absolute;
  z-index: 10;
  padding: 20px 10px 10px 10px;
  background-color: rgba(240, 240, 240, 0.92);
  text-align: left;
}
.right-panel .panel-blurb__link {
  color: #000;
}
.right-panel .panel-close {
  left: 0;
  color: #000;
}

/* Media Queries */
@media screen and (min-width: 1370px) {
  .right-panel__full {
    transition: all 0.5s ease-in-out;
    background-size: calc(100vh);
  }
}
/*
@keyframes expand-right {
  from { clip-path: polygon(0 0, 70% 0%, 30% 100%, 0% 100%); }
  to   { clip-path: polygon(0 0, 80% 0, 40% 100%, 0% 100%); }
}

@keyframes expand-left {
  from { clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 30% 100%); }
  to   { clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 20% 100%); }
}

@keyframes collapse-right {
  from { clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 20% 100%); }
  to   { clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 30% 100%); }
}

@keyframes collapse-left {
  from { clip-path: polygon(0 0, 80% 0%, 40% 100%, 0% 100%); }
  to   { clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%); }
} */