html, body {
  height: 100%;
  min-width: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
  border: 0;
}

h2 {
  margin: 0px 10px 10px 20px;
  padding-top: 10px;
}

.block {
  height: 100px;
  display: block;
  color: white;
  background-color: #999;
  padding: 20px 0px 0px 20px;
}

.slider {
  height: calc(100vh - 1000px);
  border: 1px solid #f4c2c2;
}

@media screen and (max-width: 1920px) {
  section.slider {
    min-height: 30vh;
  }
}

.owl-carousel {
  height: 100% !important;
}

.owl-carousel .item {
  color: #ffffff;
}

.owl-carousel img {
  height: 300px;
}

/* CONTAINER CSS
.parent-container {
  display: flex;
  height: calc(100vh - 600px);
  border: 1px solid #f4c2c2;
}
.container {
  width: 100%;
  height: 100%;
}

.left-panel {
  position: relative;
  z-index: 2;
  float: left;
  background-image: url(imgs/hk-stag2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  max-width: 100%;
  height: 100%;
  color: #fff;
}

.right-panel {
  position: relative;
  z-index: 1;
  float: left;
  background-image: url(imgs/twitch-con.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  max-width: 100%;
  height: 100%;
} */

/* INPUT CSS 
** BLESS: https://bennettfeely.com/clippy/
*/
.banners {
  width: 100%;
  height: 30vh;
  position: relative;
  background: #000;
  overflow: hidden;
}
.banners input {
  display: none;
}
.slide1 {
  background-image: url(imgs/hk-stag2.jpg);
}
.slide2 {
  background-image: url(imgs/twitch-con.jpg);
}
.image {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  background-position: 0 0;
  background-size: cover;
  transition: all 2.5s ease-in-out;
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 30% 100%);
  /*animation-duration: 2s;
  animation-name: clipout;*/
}
input:hover + .slide1 {
  animation-duration: 2s;
  animation-name: expand-right;
  animation-fill-mode: forwards;
}
input:hover + .slide2 {
  animation-duration: 2s;
  animation-name: expand-left;
  animation-fill-mode: forwards;
}

input:checked + .image {
  z-index: 3;
  clip-path: polygon(0 0, 70% 0%, 30% 100%, 0% 100%);
  cursor: default;
  transition: all 2.5s ease-in-out;
}
.image:nth-child(2),
input:checked + * + * + .image{
  z-index: 2;
  cursor: pointer;
}
.content{
  color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 34px;
  margin: 10px 0px 0px 18px;
  opacity: 0;
  transition: 0s opacity .5s;
}
input:checked + .image .content{
  opacity: 1;
  transition: 0.8s opacity 0.8s;
}
.spanner{
  vertical-align: middle;
  width: 0;
  height: 100%;
  display: inline-block;
}

@keyframes expand-right {
  from { clip-path: polygon(0 0, 70% 0%, 30% 100%, 0% 100%); }
  to   { clip-path: polygon(0 0, 80% 0, 40% 100%, 0% 100%); }
}

@keyframes expand-left {
  from { clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 30% 100%); }
  to   { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}