/* Style Guide: 
** http://techblog.steelseries.com/ux-guide/index.html 
*/

html, body {
  height: 100%;
  min-width: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: #4d4d4d;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  margin: 0px 10px 10px 20px;
  padding-top: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
a {
  color: #ffffff;
  text-decoration: none;
}

.block {
  height: 100px;
  display: block;
  color: white;
  background: linear-gradient(to bottom right, #404040, #2d2d2d);
  padding: 20px 0px 0px 20px;
}

/* CONTAINER CSS, General Banner Panel CSS
** BLESS: https://bennettfeely.com/clippy/
** ^-- makes clip-paths for you
*/

/* Give .parent-container width to constrain size of banner */
.parent-container {
  width: 90vw;
  height: 30vh;
  position: relative;
  margin: auto;
  margin-top: 50px;
  background: #000;
  overflow: hidden;
  border: 4px solid #ff5200;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #ff5200;
}
.shape {
  transition: all 500ms ease-in-out;
  background-image: url(imgs/hk-butterfly.jpeg);
}
.panel-content {
  display: none;
  position: relative;
  z-index: 10;
  top: 0;
  height: 100%;
}
.panel-blurb {
  position: absolute;
  z-index: 9;
  height: 100%;
}
.panel-blurb__dscr {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-size: 1rem;
}
.panel-blurb__link {
  text-decoration: underline;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.panel-close {
  position: absolute;
  z-index: 100 !important;
  top: 0;
  cursor: pointer;
  font-size: 2em;
  padding: 0 10px 10px 10px;
  margin-top: -10px;
}

/* Panels : Initial State */
.left-panel {
  position: absolute;
  z-index: 2;
  display: block;
  background-image: url('https://raw.githubusercontent.com/toniau/banner-slider/master/imgs/hk-stag_RHS-ADD2.jpg');
  background-repeat: no-repeat;
  background-size: calc(140vh);
  background-color: rgba(93, 93, 93, 1);
  background-position: -100px 0;
  width: 100%;
  height: 100%;
  color: #fff;
  shape-outside: polygon(0 0, 69.5% 0%, 29.5% 100%, 0% 100%);
  clip-path: polygon(0 0, 69.5% 0%, 29.5% 100%, 0% 100%);
  transition: all 0.5s ease-in-out;
}
.right-panel {
  position: absolute;
  z-index: 1;
  display: block;
  background-image: url('https://raw.githubusercontent.com/toniau/banner-slider/master/imgs/sv-road3.jpg');
  background-repeat: no-repeat;
  background-size: calc(122vh);
  background-color: rgba(240, 240, 240, 1);
  background-position: right;
  width: 100%;
  height: 100%;
  color: #000;
  text-align: right;
  shape-outside: polygon(70.5% 0%, 100% 0%, 100% 100%, 30.5% 100%);
  clip-path: polygon(70.5% 0%, 100% 0%, 100% 100%, 30.5% 100%);
  transition: all 0.5s ease-in-out;
}

/* Panels : Half-expanded State */
.left-panel__expand {
  position: absolute;
  z-index: 2;
  background-image: url('https://raw.githubusercontent.com/toniau/banner-slider/master/imgs/hk-stag_RHS-ADD2.gif');
  background-size: calc(130vh);
  shape-outside: polygon(0 0, 79.5% 0, 39.5% 100%, 0 100%);
  clip-path: polygon(0 0, 79.5% 0, 39.5% 100%, 0 100%);
  transition: all 0.5s ease-in-out;
}
.left-panel__collapse {
  position: absolute;
  z-index: 2;
  shape-outside: polygon(0 0, 59.5% 0, 19.5% 100%, 0 100%);
  clip-path: polygon(0 0, 59.5% 0, 19.5% 100%, 0 100%);
  transition: all 0.5s ease-in-out;
}
.right-panel__expand {
  position: absolute;
  z-index: 2;
  background-image: url('https://raw.githubusercontent.com/toniau/banner-slider/master/imgs/sv-road2.gif');
  background-position: right;
  background-size: calc(122vh);
  shape-outside: polygon(60.5% 0, 100% 0, 100% 100%, 20.5% 100%);
  clip-path: polygon(60.5% 0, 100% 0, 100% 100%, 20.5% 100%);
  transition: all 0.5s ease-in-out;
}
.right-panel__collapse {
  position: absolute;
  z-index: 2;
  shape-outside: polygon(80.5% 0, 100% 0, 100% 100%, 40.5% 100%);
  clip-path: polygon(80.5% 0, 100% 0, 100% 100%, 40.5% 100%);
  transition: all 0.5s ease-in-out;
}

/* Panels : Fully-expanded State */
.left-panel__full {
  background-image: url('https://raw.githubusercontent.com/toniau/banner-slider/master/imgs/hk-stag_RHS-ADD2.gif');
  shape-outside: polygon(0 0, 139.5% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 139.5% 0, 100% 100%, 0 100%);
  transition: all 500ms ease-in-out;
}
.right-panel__full {
  background-image: url('https://raw.githubusercontent.com/toniau/banner-slider/master/imgs/sv-road2.gif');
  shape-outside: polygon(0 0, 100% 0, 100% 100%, -40.5% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, -40.5% 100%);
}
/* Panels : Fully-expanded State --Panel Content Style */
.left-panel > .panel-content {
  position: absolute;
  z-index: 10;
  right: 0;
  background-color: rgba(93, 93, 93, 1);
  float: right;
  width: 30%;
}
.left-panel  .panel-blurb {
  position: absolute;
  z-index: 10;
  padding: 20px 20px 10px 20px;
  text-align: left;
  margin: auto;
  overflow-y: auto;
}
.left-panel .panel-close {
  right: 0;
  color: #fff;
  background-color: rgba(93, 93, 93, 1);
}
.right-panel > .panel-content {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 30%;
}
.right-panel  .panel-blurb {
  position: absolute;
  z-index: 10;
  padding: 20px 30px 10px 30px;
  background-color: rgba(240, 240, 240, 0.92);
  text-align: left;
  margin: auto;
  overflow-y: auto;
}
.right-panel h1 + p {
  margin-bottom: 2px;
  line-height: 1px;
}
.right-panel .panel-blurb p {
  padding-left: 5px;
  padding-bottom: 20px;
}
.right-panel .panel-blurb__link {
  color: #000;
}
.right-panel .panel-close {
  left: 0;
  color: #000;
  background-color: rgba(240, 240, 240, 1);
}

/* Media Queries */
@media screen and (min-width: 1200px) {
  .left-panel, .left-panel__expanded {
    transition: all 0.5s ease-in-out;
    background-size: calc(80vw);
  }
  .left-panel__full {
    transition: all 0.5s ease-in-out;
    background-size: calc(140vh);
  }
  .right-panel, .right-panel__expanded {
    transition: all 0.5s ease-in-out;
    background-size: calc(75vw);
  }
  .right-panel__full {
    transition: all 0.5s ease-in-out;
    background-size: calc(100vh);
  }
  .right-panel .panel-blurb {
    padding: 30px 20px 20px 20px;
    width: 130%;
  }
}